@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

:root{
  --font: 'Rajdhani', sans-serif;
  --blue: #2c3e50;
  --grey: #5c5c5c;
  --green: #00d26a;
  --red: #c43636;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font);
}

.green{
  color: var(--green) !important;
}

.blue{
  color: var(--blue) !important;
}

.grey{
  color: var(--grey) !important;
}

.red{
  color: var(--red) !important;
}

.banner{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-weight: bold;
}

.banner h1 {
  color: var(--grey);
}

.banner .total-population{
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.banner .total-population span{
  color: var(--red);
  font-size: 2rem;
}

.flags__section h2, .flags__section p{
  text-align: center;
}

.flags__info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flags__info p{
  font-size: 1.5rem;
}

#flags{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  overflow: hidden;
  overflow: hidden;
  font-size: 7rem;
  user-select: none;
}

#flags ::-webkit-scrollbar{
  display: none;
}

.flags__section span.current{
  font-size: 10rem;
}

.globe__section{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  min-height: 90vh;
}

.globe__section h2{
  font-size: 4rem;
  line-height: 4rem;
}

.globe__section h3{
  text-align: center;
  min-height: 5rem;
}

.globe__section h3 p:last-child{
  font-size: 2.5rem;
}

.globe__instructions{
  height: 70%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.globe__instructions p{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.globe__icons{
  max-width: 30px;
}

.selected-countries{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected-countries__container{
  padding: 1.5rem;
}

.selected-countries__flags{
  font-size: 2.5rem;
}